<html>
<head>
    <title>DBTableEditor</title>
    <link rel = "stylesheet"
    href = "../workspace/ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">
    <link rel = "stylesheet"
    href = "../css/icons.css">
    <script src = "../workspace/ext/build/ext-all.js"></script>
    <script src = "../workspace/common/src/Basegrid.js"></script>
    <script src = "../workspace/common/src/BasegridController.js"></script>
    <script src = "../workspace/common/src/BasegridModel.js"></script>
<script>

Ext.syncRequire(['Ext.app.Application']);

<%= erb :dbtableeditor_models, :locals => {:entity => entity, :columns => columns} %>
<%= erb :dbtableeditor_viewcontrollers, :locals => {:entity => entity, :columns => columns} %>
<%= erb :dbtableeditor_viewmodels, :locals => {:entity => entity, :columns => columns} %>
<%= erb :dbtableeditor_views, :locals => {:entity => entity, :columns => columns} %>

Ext.application(
{
    name: 'DBTableEditor',
    //controllers: ['Routing'],
    models: ['<%= entity.capitalize %>',],
    views: ['basegrid.Basegrid', 'main.Main', '<%= entity %>.View'],
    //appFolder: 'DBTableEditor/app',

    autoCreateViewport: 'DBTableEditor.view.main.Main'
})
</script>

</head>
<body></body>
</html>