<html>
<head>
    <title><%= entity.capitalize %></title>
    <link rel = "stylesheet"
    href = "../workspace/ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">
    <link rel = "stylesheet"
    href = "../css/icons.css">
    <script src = "../workspace/ext/build/ext-all.js"></script>
    <script src = "../workspace/common/src/Basegrid.js"></script>
    <script src = "../workspace/common/src/BasegridController.js"></script>
    <script src = "../workspace/common/src/BasegridModel.js"></script>
<script>

Ext.syncRequire(['Ext.app.Application']);

<%= erb :dbtableeditor_models, :locals => {:entity => entity, :columns => columns} %>
<%= erb :dbtableeditor_viewmodels, :locals => {:entity => entity, :columns => columns} %>
<%= erb :dbtableeditor_views, :locals => {:entity => entity, :columns => columns, :column_editors => column_editors} %>

Ext.application(
{
    name: 'DBTableEditor',
    models: ['<%= entity.capitalize %>',],
    views: ['basegrid.Basegrid', '<%= entity %>.View'],

    autoCreateViewport: 'DBTableEditor.view.<%= entity %>.View',
})
</script>

</head>
<body></body>
</html>