
Ext.define('DBTableEditor.view.<%= entity %>.View', {
    extend: 'Ext.panel.Panel',
    alias: 'widget.<%= entity %>Panel',
        
    controller: "<%= entity %>-view",
    viewModel: { type: "<%= entity %>-view"},

    items:[
    {
        xtype: 'basegrid',
        columns:[
            <% columns.each do |elem| %>
                { text: '<%= elem %>', dataIndex: '<%= elem %>', editor: {xtype: 'textfield'}, 
                    <% if elem != "id" %> flex: 1 <% end %>},
            <% end %>
        ],
        bind: {store: '{<%= entity %>Store}'}
    }]
});

<% #MAIN %>
Ext.define('DBTableEditor.view.main.Main', {
    extend: 'Ext.container.Container',

    xtype: 'app-main',
    
    controller: 'main',
    viewModel: {
        type: 'main'
    },

    layout: {
        type: 'border'
    },

    items: [
    {
        xtype: 'panel',
        region: 'north',
        height: 20,
        html: '<h2 align = "center"><%= entity.capitalize %></h2>'
    },    
    {
        xtype: '<%= entity %>Panel',
        region: 'center'
    }
    ]
});
